<div class="about-visual">
  <%= render 'layouts/header' %>
  <div id="mainfield">
    <div class="container col-7">
      <div>
        <div class="about-text row my-3">
          <div class="my-4">
            
            「そんな夢叶うわけない、無理に決まっている」</br>
            親や教師、友人などに言われ、やりたいこと、成し遂げたいことを諦めてしまってませんか。</br>
            確かに夢の規模にもよりますが夢の実現というのは、その過程で厳しい壁がいくつもあり不可能に近いかもしれません。</br>
            </br>
            しかし、そう言われて諦めてしまうのは、非常にもったいないです。</br>
            実現できるかといのは、挑戦してみてからでないと分かりません。</br>
            </br>
            一度その夢を深堀りしてみましょう。</br>
            </br>
            まずは、なりたい自分をイメージしてみましょう。</br>
            スポーツ選手になりたい、大学・高校に受かりたい、大金持ちになりたい、何でもいいです。</br>
            将来を像をイメージしてください。</br>
            次はそれを文字に起こしてみましょう。</br>
            </br>
            目標を決めいつまでになりたいか、なる為の具体的なアクションは何か、そして…</br>
            な　ぜ　そ　う　な　り　た　い　か　</br>
            それらを書くことでよりイメージが鮮明になることでしょう。</br>
            特になりたい理由というのは大事です。</br>
            なぜなら、その夢を追いかけている中で辛い事、苦しい事が多々あるでしょう</br>
            そうなってくるとモチベーションを保つのが厳しくなってきます。</br>
            そんな時、なりたい理由を改めて見返してみると、夢を描いていた自分を思い出し不思議とやる気が湧いてくるものです。</br>
            </br>
            このアプリでは、そういったことを一元で管理し可視化しあなたの夢の実現をサポートします。</br>
            
          </div>
        </div>
        <div class="col-md-6 mx-auto mt-4">
          <% unless user_signed_in? %>
            <div class="pb-3"><%= link_to "新規登録", new_user_registration_path, class:"btn btn-success form-control" %></div>
            <div class="pb-3"><%= link_to "ログイン", new_user_session_path, class:"btn btn-primary form-control" %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
