<div class="top-visual">
  <%= render 'layouts/header' %>
  <div class="container col-7">
      <div class="row justify-content-end">
          <div class="card">
              <div class="card-body">
                  <div class="card-text">
                      ああああああああ
                      <%= link_to "概要へ", homes_about_path %>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>