/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
// *= require simple_calendar
 *= require_tree .
 *= require_self
 */
@import "simple_calendar";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-visual {
  background-image: image-url('top-image-new.jpg');
  background-position: 0, 700px;
  width: auto;
  height: 660px;
}

.about-visual {
  background-image: image-url('top-image.jpg');
  height: 1000px;
  background-size: cover;
  background-position: 0px 1100px;
}

.about-text {
  background-color: rgba(255, 255, 255, 0.9);
}

.header-bgc {
  // background-color: #dcdcdc;
  background: linear-gradient(to bottom right, #1e90ff, pink);
  // background:radial-gradient(#fff, #1e90ff);
}

.nav-text {
  color: black;
  font-family: 'Mv Boli',sans-serif;
  text-decoration: none;
  font-size: 20px;
}

.nav-text:hover {
  color: gray;
}

.top-text {
  font-size: 50px;
}

.top-text, h2, h3, h4 {
  font-style: italic;
  font-weight: bolder;
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
}

footer {
  background-color: #dcdcdc;
}

.cal-hov:hover {
  background-color: black;
}


@media screen and (max-width: 425px) {
  
  .top-visual {
    height: 555px;
  }
  
  .top-text {
    font-size: 30px;
  }
  
  .about-visual {
    height: 900px;
    background-position: 0, 0;
  }
  
  .about-text {
    font-size: 10px;
  }
  
  #hm-icon {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10;
  }
  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  .menu-trigger {
    position: relative;
    width: 50px;
    height: 44px;
  }
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
  }
  .menu-trigger span:nth-child(1) {
    top: 0;
  }
  .menu-trigger span:nth-child(2) {
    top: 20px;
  }
  .menu-trigger span:nth-child(3) {
    bottom: 0;
  }
  .menu-trigger.active span:nth-child(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
    background-color: black;
  }
  .menu-trigger.active span:nth-child(2) {
    opacity: 0;
  }
  .menu-trigger.active span:nth-child(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
    background-color: black;
  }
  // /* ------------------------ */
  // /* ------ spメニュー ------ */
  // /* ------------------------ */
  #sp-menu {
    position: fixed;
    top: 0;
    left: 200px;
    right: 0;
    // bottom: 500px;
    background: rgba(255, 255, 255, 0.9);
    color: black;
    width: 100%;
    min-height: 100%;
    display: none;
    z-index: 9;
    
    padding: 64px;
  }
  
  #sp-menu ul {
    display: block;
    // margin-top: 30px;
    padding-top: 55px;
  }
  
  #sp-menu li {
    text-align: start;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  #sp-menu .nav-text {
    color: black;
  }
  
  .bootstrap-date {
    display: inline-block;
    width: auto;
  }
  
}
