<div class="header-bgc">
  <%= render 'layouts/header' %>
</div>
<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="card-text">
          <div class="text-center">大目標</div>
          <div>When</div>
          <div>What</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="card-text">
          中目標：
        </div>
      </div>
    </div>
  </div>
</div>